<!DOCTYPE html>
<html>
<style>
    div.rotate {
        -ms-transform: rotate(20deg);
        /* IE 9 */
        -webkit-transform: rotate(20deg);
        /* Safari and Chrome */
        transform: rotate(20deg);
        -moz-transform: rotate(20deg);
    }

    div.rotate2 {
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -webkit-transform: rotate(-10deg);
        /* Safari and Chrome */
        transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
    }
</style>

<head>
    <title>Claiming NFTs Here</title>
</head>

<body>
    <div style="margin:0 auto;width:512px">
        <h1 style="color:red">{{ warning }}</h1>
        <h1 style="color:rgb(0, 255, 0)">We are POOP NFT!!! </h1>
        <p style=" color:red"> we are TESTING payment function </p>
        <p style=" color:red"> you can buy some POOP NFT Now </p>
        <p style=" color:red"> POOP NFT Exclusive for faucet testing and only public 100 </p>
        <div class="rotate">
            <img style="width:100%" src='static/img/sold_out_1024.png'>
        </div>
        <div class="">
            <img src='/poop.png'>
        </div>
    </div>
</body>

</html>